# Classification
The idea in this practice is to classify the sales by the DEALSIZE variable. It can take 3 values. Use different models and compare the results. Show the accuracy for each of the models and the first classified values. 
- Regression
- KNN
- SVM
- Naive Bayes
- Random Forest 

### Import data
Firstly, import data "dummies.csv" using pandas.

In [ ]:
#Insert your code here

In [1]:
import toggle
toggle.hide_toggle()
toggle.hide_toggle(for_next=True, toggle_text='Show Code')

In [2]:
import pandas as pd
df = pd.read_csv("dummies.csv", encoding = "ISO-8859-1")

### Show data
Now, show the columns for the loaded dataframe

In [ ]:
#Insert your code here

In [4]:
import toggle
toggle.hide_toggle()
toggle.hide_toggle(for_next=True, toggle_text='Show Code')

In [3]:
df.columns

Index(['PRICEEACH', 'SALES', 'MONTH_ID', 'YEAR_ID', 'PRODUCTLINE', 'DEALSIZE',
       'STATE_', 'STATE_BC', 'STATE_CA', 'STATE_CT', 'STATE_Isle of Wight',
       'STATE_MA', 'STATE_NH', 'STATE_NJ', 'STATE_NSW', 'STATE_NV', 'STATE_NY',
       'STATE_Osaka', 'STATE_PA', 'STATE_Quebec', 'STATE_Queensland',
       'STATE_Tokyo', 'STATE_Victoria', 'COUNTRY_Australia', 'COUNTRY_Austria',
       'COUNTRY_Belgium', 'COUNTRY_Canada', 'COUNTRY_Denmark',
       'COUNTRY_Finland', 'COUNTRY_France', 'COUNTRY_Germany',
       'COUNTRY_Ireland', 'COUNTRY_Italy', 'COUNTRY_Japan', 'COUNTRY_Norway',
       'COUNTRY_Philippines', 'COUNTRY_Singapore', 'COUNTRY_Spain',
       'COUNTRY_Sweden', 'COUNTRY_Switzerland', 'COUNTRY_UK', 'COUNTRY_USA'],
      dtype='object')

### Show values
First show the first rows. Then, Show the possible values for the variable 'DEALSIZE'

In [ ]:
#Insert your code here

In [5]:
import toggle
toggle.hide_toggle()
toggle.hide_toggle(for_next=True, toggle_text='Show Code')

In [6]:
print("--------------------------")
print("--------First rows--------")
print("--------------------------")
print(df.head())
print("----------------------------------------")
print("--------DEALSIZE possible values--------")
print("----------------------------------------")
list(df['DEALSIZE'].unique())

--------------------------
--------First rows--------
--------------------------
   PRICEEACH    SALES  MONTH_ID  YEAR_ID  PRODUCTLINE  DEALSIZE  STATE_  \
0      95.70  2871.00         2     2003            3         0       0
1      81.35  2765.90         5     2003            3         0       1
2      94.74  3884.34         7     2003            3         1       1
3      83.26  3746.70         8     2003            3         1       0
4      96.66  3479.76        10     2003            3         1       0

   STATE_BC  STATE_CA  STATE_CT  ...  COUNTRY_Italy  COUNTRY_Japan  \
0         0         0         0  ...              0              0
1         0         0         0  ...              0              0
2         0         0         0  ...              0              0
3         0         1         0  ...              0              0
4         0         1         0  ...              0              0

   COUNTRY_Norway  COUNTRY_Philippines  COUNTRY_Singapore  COUNTRY_Spain  \
0               0                    0                  0              0
1               0                    0                  0              0
2               0                    0                  0              0
3               0                    0                  0              0
4               0                    0                  0              0

   COUNTRY_Sweden  COUNTRY_Switzerland  COUNTRY_UK  COUNTRY_USA
0               0                    0           0            1
1               0                    0           0            0
2               0                    0           0            0
3               0                    0           0            1
4               0                    0           0            1

[5 rows x 42 columns]
----------------------------------------
--------DEALSIZE possible values--------
----------------------------------------

[0, 1, 2]

### Split into training and test sets
We are going to split the dataset into training and test sets. With the training set the algorithm is going to learn and with the test set we are going to check how well the algorithm classifies new data.  
This can be done by using a sklearn library called model_selection.
Take into account that we want to predict DEALSIZE, so this variable is our target variable.

In [ ]:
#Insert your code here

In [7]:
import toggle
toggle.hide_toggle()
toggle.hide_toggle(for_next=True, toggle_text='Show Code')

In [8]:
#split the dataframe: X - predictors and y - target
X = df.drop('DEALSIZE', axis=1)
y = df['DEALSIZE']

#split dataset into test/train 
from sklearn import model_selection
X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y, test_size=0.20, random_state=20)

## Run a classifier!
We are going to use different method for classification to see how it look like each case. 
We can see that there are several parameters that can be set to tune the model. You can play with that and study what is the meaning for each case, in order to understan how to tune the model. In this case, as it is very simple we do not need to worry about the tuning.

### Ridge Classifier
RidgeClassifier uses a Ridge Regression to predict the classification. You can use the RidgeClassifier from sklearn.

If you want to understand how it works look at this link: https://towardsdatascience.com/ridge-regression-for-better-usage-2f19b3a202db.

In [ ]:
#Insert your code here

In [9]:
import toggle
toggle.hide_toggle()
toggle.hide_toggle(for_next=True, toggle_text='Show Code')

In [10]:
from sklearn.linear_model import RidgeClassifier
clf = RidgeClassifier().fit(X_train, y_train)
clf_fit = clf.fit(X_train, y_train)
predictions = clf.predict(X_test)
print(clf.score(X_test, y_test))
df_p = pd.DataFrame()
df_p['Actual'] = y_test
df_p['Predicted'] = predictions
df_p.head()

0.8163636363636364

      Actual  Predicted
766        0          0
1050       1          0
255        1          1
826        1          1
1730       0          0

### KNN Classifier
This classifier is based on the distance between data points.   
It groups into K neighbors which are nearby and a class is assigned to each group. 
New data is classified measuring the distance to the groups, and assigned the nearest class.
You can use the KNeighborsClassifier from sklearn.

In [ ]:
#Insert your code here

In [11]:
import toggle
toggle.hide_toggle()
toggle.hide_toggle(for_next=True, toggle_text='Show Code')

In [12]:
#KNN example
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(X_train, y_train)
print(knn.score(X_test, y_test))
predictions = knn.predict(X_test)
df_p = pd.DataFrame()
df_p['Actual'] = y_test
df_p['Predicted'] = predictions
df_p.head()

1.0

      Actual  Predicted
766        0          0
1050       1          1
255        1          1
826        1          1
1730       0          0

### SVC classifier
Support-vector machine represents points in the space, where different classes are divided by a gap in the space.  
New data is mapped in the space and it chooses in which class is contained by looking at the gap between the classes.  
You can use SVC from sklearn.

In [ ]:
#Insert your code here

In [13]:
import toggle
toggle.hide_toggle()
toggle.hide_toggle(for_next=True, toggle_text='Show Code')

In [16]:
from sklearn import svm
clf = svm.SVC()
clf.fit(X_train, y_train)
score = clf.score(X_test,y_test)
print('Score:', score)
predictions = clf.predict(X_test)
df_p = pd.DataFrame()
df_p['Actual'] = y_test
df_p['Predicted'] = predictions
df.head()

Score: 1.0

,PRICEEACH,SALES,MONTH_ID,YEAR_ID,PRODUCTLINE,DEALSIZE,STATE_,STATE_BC,STATE_CA,STATE_CT,...,COUNTRY_Italy,COUNTRY_Japan,COUNTRY_Norway,COUNTRY_Philippines,COUNTRY_Singapore,COUNTRY_Spain,COUNTRY_Sweden,COUNTRY_Switzerland,COUNTRY_UK,COUNTRY_USA
0,95.70,2871.00,2,2003,3,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,81.35,2765.90,5,2003,3,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,94.74,3884.34,7,2003,3,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,83.26,3746.70,8,2003,3,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
4,96.66,3479.76,10,2003,3,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1

### Naive Bayes
It is based on Bayes’ Theorem and assumes that features are independent with each other. In this link you can find more information https://towardsdatascience.com/naive-bayes-classifier-81d512f50a7c  
You can use GaussianNB from sklearn.

In [ ]:
#Insert your code here

In [ ]:
import toggle
toggle.hide_toggle()
toggle.hide_toggle(for_next=True, toggle_text='Show Code')

In [ ]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
predictions = gnb.fit(X_train, y_train).predict(X_test)
print(gnb.score(X_test,y_test))
print("Number of mislabeled points out of a total %d points : %d" % (X_test.shape[0], (y_test != predictions).sum()))

### LinearDiscriminantAnalysis
This method separates or discriminates the data into classes.    
This can be used to classify but also Linear discrimination is used for dimension redaction to later classify.  
In this case, we are going to use it for the classification, but is an example to show you that the method can be used for several things.

In [ ]:
#Insert your code here

In [ ]:
import toggle
toggle.hide_toggle()
toggle.hide_toggle(for_next=True, toggle_text='Show Code')

In [ ]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
clf = LinearDiscriminantAnalysis()
clf.fit(X_train, y_train)
print(clf.score(X_test,y_test))
predictions = clf.predict(X_test)
df_p = pd.DataFrame()
df_p['Actual'] = y_test
df_p['Predicted'] = predictions
df_p.head()

### Random Forest
A random forest is an ensemble of different trees which are composed at the end to get the final result. You can use RandomForestClassifier from sklearn.

In [ ]:
#Insert your code here

In [ ]:
import toggle
toggle.hide_toggle()
toggle.hide_toggle(for_next=True, toggle_text='Show Code')

In [ ]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(max_depth=2,random_state=202)
clf.fit(X_train, y_train)
print('Score:',clf.score(X_test, y_test))
predictions = clf.predict(X_test)
df_p = pd.DataFrame()
df_p['Actual'] = y_test
df_p['Predicted'] = predictions
df_p.head()

Show the variables' importance in a graph.

In [ ]:
#Insert your code here

In [ ]:
import toggle
toggle.hide_toggle()
toggle.hide_toggle(for_next=True, toggle_text='Show Code')

In [ ]:
import matplotlib.pyplot as plt
feat_importances = pd.Series(clf.feature_importances_, index=X.columns)
fig, ax = plt.subplots(1,1, figsize=(15, 15))
feat_importances.plot(kind='barh', ax=ax)
plt.show()