- Load into a dataframe NBA data from github url: https://raw.githubusercontent.com/fivethirtyeight/data/master/nba-draymond/draymond.csv 
- show the first lines

In [1]:
import requests
import pandas as pd

# Insert your code here
download_url = "https://raw.githubusercontent.com/fivethirtyeight/data/master/nba-draymond/draymond.csv"
target_csv_path = "data/draymond.csv"

response = requests.get(download_url)
response.raise_for_status()    
with open(target_csv_path, "wb") as f:
    f.write(response.content)
players = pd.read_csv(target_csv_path)
players.head()

   season        player  possessions  DRAYMOND
0    2017    AJ Hammons     331.0258 -0.176680
1    2014      AJ Price     211.7156  5.912172
2    2015      AJ Price     633.5186 -1.790921
3    2014  Aaron Brooks    3257.9340 -0.952900
4    2015  Aaron Brooks    3984.0440 -0.186127

- Load into a dataframe the tattoo data from NBA players from github url: https://raw.githubusercontent.com/fivethirtyeight/data/master/nba-tattoos/nba-tattoos-data.csv"
- Show the first lines

In [2]:
# Insert your code here
download_url = "https://raw.githubusercontent.com/fivethirtyeight/data/master/nba-tattoos/nba-tattoos-data.csv"
target_csv_path = "tattoos.csv"

response = requests.get(download_url)
response.raise_for_status()    
with open(target_csv_path, "wb") as f:
    f.write(response.content)
tattoos = pd.read_csv("tattoos.csv")
tattoos.head()

    Player Name Tattoos yes/no
0    A.J. Price             no
1    Aaron Gray             no
2    Al Horford             no
3  Al Jefferson             no
4   Al Thornton             no

Merge data: put toggeter the information from each dataset for each player

In [3]:
# Insert your code here
pd.merge(players, tattoos, left_on='player', right_on='Player Name', how='inner')

,season,player,possessions,DRAYMOND,Player Name,Tattoos yes/no
0,2014,Aaron Brooks,3257.9340,-0.952900,Aaron Brooks,yes
1,2015,Aaron Brooks,3984.0440,-0.186127,Aaron Brooks,yes
2,2016,Aaron Brooks,2276.0170,2.296577,Aaron Brooks,yes
3,2017,Aaron Brooks,1837.4320,-1.121518,Aaron Brooks,yes
4,2018,Aaron Brooks,408.4625,-3.238316,Aaron Brooks,yes
...,...,...,...,...,...,...
1810,2015,Zaza Pachulia,3747.2080,0.240787,Zaza Pachulia,no
1811,2016,Zaza Pachulia,4193.3430,-0.146175,Zaza Pachulia,no
1812,2017,Zaza Pachulia,3173.1790,-0.910862,Zaza Pachulia,no
1813,2018,Zaza Pachulia,2139.1240,-0.590698,Zaza Pachulia,no
1814,2019,Zaza Pachulia,1891.8140,1.235672,Zaza Pachulia,no

Save the data into new dataframe 'result' and show the first rows

In [4]:
# Insert your code here
result = pd.merge(players, tattoos, left_on='player', right_on='Player Name', how='inner')
result.head()

   season        player  possessions  DRAYMOND   Player Name Tattoos yes/no
0    2014  Aaron Brooks    3257.9340 -0.952900  Aaron Brooks            yes
1    2015  Aaron Brooks    3984.0440 -0.186127  Aaron Brooks            yes
2    2016  Aaron Brooks    2276.0170  2.296577  Aaron Brooks            yes
3    2017  Aaron Brooks    1837.4320 -1.121518  Aaron Brooks            yes
4    2018  Aaron Brooks     408.4625 -3.238316  Aaron Brooks            yes

Get the information for the player Zaza Pachulia

In [5]:
# Insert your code here
result[result['player']=='Zaza Pachulia']

,season,player,possessions,DRAYMOND,Player Name,Tattoos yes/no
1809,2014,Zaza Pachulia,2619.912,-1.674184,Zaza Pachulia,no
1810,2015,Zaza Pachulia,3747.208,0.240787,Zaza Pachulia,no
1811,2016,Zaza Pachulia,4193.343,-0.146175,Zaza Pachulia,no
1812,2017,Zaza Pachulia,3173.179,-0.910862,Zaza Pachulia,no
1813,2018,Zaza Pachulia,2139.124,-0.590698,Zaza Pachulia,no
1814,2019,Zaza Pachulia,1891.814,1.235672,Zaza Pachulia,no