https://www.kaggle.com/c/titanic/data

In [2]:
import pandas as pd
df_train = pd.read_csv('titanic/train.csv')
df_test = pd.read_csv('titanic/test.csv')
print(df_train.columns)

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [3]:
print('Training size:', df_train.shape[0], 'Testing size:', df_test.shape[0])
print(df_train.isnull().sum(),'\n\n', df_test.isnull().sum())

Training size: 891 Testing size: 418
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

 PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [4]:
import matplotlib.pyplot as plt
import seaborn as sns 
sns.kdeplot(df_train['Age'].values, color='blue')
plt.title('Age distribution')
plt.show()

/opt/anaconda2/envs/ML-training/lib/python3.6/site-packages/statsmodels/nonparametric/kde.py:444: RuntimeWarning: invalid value encountered in greater
  X = X[np.logical_and(X > clip[0], X < clip[1])] # will not work for two columns.
/opt/anaconda2/envs/ML-training/lib/python3.6/site-packages/statsmodels/nonparametric/kde.py:444: RuntimeWarning: invalid value encountered in less
  X = X[np.logical_and(X > clip[0], X < clip[1])] # will not work for two columns.

In [5]:
# Simulate age from a normal distribution 

import numpy as np
import random

age_train = np.random.normal(df_train['Age'].mean(), df_train['Age'].std(), df_train['Age'].isnull().sum())

df_train.fillna({'Age':random.choice(age_train)}, inplace=True)

In [6]:
# drop Cabin 
df_train.drop(['PassengerId','Cabin','Ticket','Name'], axis=1, inplace=True)
df_test.drop(['PassengerId','Cabin','Ticket','Name'], axis=1, inplace=True)

In [7]:
df_test.dropna(inplace=True)

In [8]:
#transform categorical variables
df_train = pd.concat([df_train, pd.get_dummies(df_train['Embarked'])], axis=1)
df_train = pd.concat([df_train, pd.get_dummies(df_train['Sex'], drop_first=True)], axis=1)
df_train.drop(['Embarked','Sex'], axis=1, inplace=True)

df_test = pd.concat([df_test, pd.get_dummies(df_test['Embarked'])], axis=1)
df_test = pd.concat([df_test, pd.get_dummies(df_test['Sex'], drop_first=True)], axis=1)
df_test.drop(['Embarked'], axis=1, inplace=True)

In [9]:
df_train.head()

   Survived  Pclass   Age  SibSp  Parch     Fare  C  Q  S  male
0         0       3  22.0      1      0   7.2500  0  0  1     1
1         1       1  38.0      1      0  71.2833  1  0  0     0
2         1       3  26.0      0      0   7.9250  0  0  1     0
3         1       1  35.0      1      0  53.1000  0  0  1     0
4         0       3  35.0      0      0   8.0500  0  0  1     1

In [10]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier

x = df_train.drop(["Survived"], axis=1)
y = df_train["Survived"]
x_train, x_test, y_train, y_test = train_test_split(x, y, 
                                                  test_size = 20, random_state = 0)

model = DecisionTreeClassifier()
model.fit(x_train, y_train)
y_pred = model.predict(x_test)
accuracy = accuracy_score(y_pred, y_test, normalize=True)
accuracy

0.8